[submodule "editions/fastnote_go_gio_ed"]
	path = editions/fastnote_go_gio_ed
	url = https://github.com/waym0reom3ga/fastnote_go_gio_ed.git
[submodule "editions/fastnote_go_fyne_ed"]
	path = editions/fastnote_go_fyne_ed
	url = https://github.com/waym0reom3ga/fastnote_go_fyne_ed.git
[submodule "editions/fastnote_c_nuklear_ed"]
	path = editions/fastnote_c_nuklear_ed
	url = https://github.com/waym0reom3ga/fastnote_c_nuklear_ed.git
[submodule "editions/fastnote_python_gtk4_ed"]
	path = editions/fastnote_python_gtk4_ed
	url = https://github.com/waym0reom3ga/fastnote_python_gtk4_ed.git
[submodule "editions/fastnote_python_pyqt6_ed"]
	path = editions/fastnote_python_pyqt6_ed
	url = https://github.com/waym0reom3ga/fastnote_python_pyqt6_ed.git
[submodule "editions/fastnote_python_pyside6_ed"]
	path = editions/fastnote_python_pyside6_ed
	url = https://github.com/waym0reom3ga/fastnote_python_pyside6_ed.git
[submodule "editions/fastnote_python_dearpygui_ed"]
	path = editions/fastnote_python_dearpygui_ed
	url = https://github.com/waym0reom3ga/fastnote_python_dearpygui_ed.git
[submodule "editions/fastnote_c_gtk4_ed"]
	path = editions/fastnote_c_gtk4_ed
	url = git@github.com:waym0reom3ga/fastnote_c_gtk4_ed.git
[submodule "editions/fastnote_c_raygui_ed"]
	path = editions/fastnote_c_raygui_ed
	url = git@github.com:waym0reom3ga/fastnote_c_raygui_ed.git
[submodule "editions/fastnote_rust_egui_ed"]
	path = editions/fastnote_rust_egui_ed
	url = git@github.com:waym0reom3ga/fastnote_rust_egui_ed.git
[submodule "editions/fastnote_rust_gtk4_ed"]
	path = editions/fastnote_rust_gtk4_ed
	url = git@github.com:waym0reom3ga/fastnote_rust_gtk4_ed.git
[submodule "editions/fastnote_rust_slint_ed"]
	path = editions/fastnote_rust_slint_ed
	url = git@github.com:waym0reom3ga/fastnote_rust_slint_ed.git
